* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #e0e0e0;
  font-family: "Mulish";
  font-weight: normal;
}
body {
  width: 1920px;
  height: 1080px;
  background-image: linear-gradient(to bottom,#33383d,#2d3136,#272a2e,#222327,#1c1d20);
}
.container {
  display: flex;
  
}
.container_login {
  flex: 1;
}
.formulario {
  display: flex;
  flex-direction: column;
}
.header_formulario {
  flex-direction: column;
  margin-left: 287px;
  margin-top: 197px;
  margin-bottom: 97px;
}
.header_formulario h1 {
  font-size: 60px;
}
.header_formulario p {
  margin-top: 18px;
  font-size: 16px;
}
.formulario h3 {
  margin-left: 287px;
  font-size: 30px;
}
.input_form {
  height: 60px;
  width: 379px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
  margin-top: 33px;
  margin-right: 20px;
  margin-left: 287px;
  padding-right: 20px;
  vertical-align: baseline;
  padding: 20px;
}
.input_icon_user {
  height: 60px;
  width: 379px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
  margin-top: 33px;
  margin-right: 20px;
  margin-left: 287px;
  padding-right: 20px;
  vertical-align: baseline;
  padding: 20px;
  background-image: url("../image/login/icon/icon-user.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}
.input_icon_password {
  height: 60px;
  width: 379px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
  margin-top: 33px;
  margin-right: 20px;
  margin-left: 287px;
  padding-right: 20px;
  vertical-align: baseline;
  padding: 20px;
  background-image: url("../image/login/icon/icon-password.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.message {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 48px;
  margin-left: 333px;
}
.message p {
  text-align: center;
  color: #e9b425;
}
.button {
  background-image: linear-gradient(
    to top,
    #ff2d04,
    #ef2f0b,
    #e03110,
    #d03213,
    #c13216
  );
  border: solid 2px
    linear-gradient(to top, #ff2d04, #ef2f0b, #e03110, #d03213, #c13216);
  width: 379px;
  height: 67px;
  border-radius: 50px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 285px;
}
.container_img {
  flex: 1;
}

.img_backgroung img {
  max-width: 100%;
  max-height: 100%;
  
}
.logo_uol {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.logo_uol img {
  position: absolute;
  top: 11px;
  height: 66px;
  width: 484px;
}
